[Config]
LastFMUser = sonofjack3
SpotifyUser = sonofjack3
PlaylistName = Last.fm
PlaylistSize = 30

# The Last.fm period over which to look at the user's listening habits. Valid values are overall, 7day, 1month, 3month, 6month and 12month
RecommendationPeriod = 1month

# The maximum number of recommendations to fetch per top track. A larger number will (probably?) result in a better chance of obscure tracks getting recommended.
MaxRecommendationsPerTopTrack = 200

# Comma-separated list of artists to never recommend 
BlacklistedArtists = Ariana Grande,Calvin Harris,Katy Perry,David Guetta,Halsey,Miley Cyrus,Lady Gaga,Justin Bieber

# Set to true to prefer artists the user has not heard yet, false otherwise
PreferUnheardArtists = True
