[Config]
LastFMUser = sonofjack3
SpotifyUser = sonofjack3
PlaylistName = Last.fm
PlaylistSize = 30

# The Last.fm period over which to look at the user's listening habits. Valid values are 7day, 1month, 3month, 6month, 12month, and overall.
RecommendationPeriod = 7day

# Comma-separated list of services used to find recommendations. Valid values are Last.fm and Spotify. By default, will only use Last.fm
RecommendationServices = Spotify

# The maximum number of recommendations to fetch per top track. A larger number will (probably?) result in a better chance of obscure tracks getting recommended.
MaxRecommendationsPerTopTrack = 50

# Comma-separated list of artists to never recommend.
BlacklistedArtists = Ariana Grande,Calvin Harris,Katy Perry,David Guetta,Halsey,Miley Cyrus,Lady Gaga,Justin Bieber

# Set to True to prefer artists the user has not heard yet, False otherwise.
PreferUnheardArtists = True
