[Config]
SpotifyUser = sonofjack3

# Setting this to True will result in songs with the word "Remix" in the title being ignored.
IgnoreRemixes = True

# Setting this to True will result in all tracks from true "albums" (i.e. releases that are not singles) being added to Liked Songs. Setting it to 
# False will result in those albums being saved to the Albums section of the user's library.
SaveAlbumsToLikedSongs = False