[Config]
LastFMUser = sonofjack3
SpotifyUser = sonofjack3

# Playlist names
NewFavoritesPlaylist = New Favorites
OldFavoritesPlaylist = Old Favorites
NeglectedPlaylist = Neglected

# Number of plays a song must have before being moved from the user's library ("Liked Songs") to NewFavoritesPlaylist
SavedSongsPlaycountLimit = 3

# If a song has been in NewFavoritesPlaylist for the amount of days defined by NewFavoritesTimeLimit, and has at least
# the number of plays defined by NewFavoritesPlaycountLimit, it will be moved to OldFavoritesPlaylist. If the song has
# less plays at this point, it will instead be moved to NeglectedPlaylist.
NewFavoritesTimeLimit = 120
NewFavoritesPlaycountLimit = 5

# This is an optional parameter that can be left out if desired. If a song in NewFavoritesPlaylist has the number of plays defined
# by OldFavoritesImmediatePlaycountLimit, it will be immediately moved to OldFavoritesPlaylist.
OldFavoritesImmediatePlaycountLimit = 15
