[Config]
LastFMUser = sonofjack3
SpotifyUser = sonofjack3

# Number of plays a song can have before being moved from library to "New Favorites".
SavedSongsPlaycountLimit = 3

# Time (in days) that a song can be in New Favorites before being moved to "Old Favorites".
NewFavoritesTimeLimit = 120

# After the time above has elapsed, songs with this many plays (or less) will be moved to a "Neglected" playlist.
NewFavoritesPlaycountLimit = 5
